{% extends "base.html" %}
{% block content %}
<div class="col-sm-12 col-md-8 col-lg-6 col-sm-12 mx-auto mb-5">
        <div class="card-body px-5 py-5 mt-5 text-center">
            <h5 class="font-weight-bold">Lets Build Together, Build Better</h5>
            <h5 class="my-4">open source projects are the driving force today for small startapp, enterprise to
                govt. organization.
                Lets work together and build better software.</h5>
            <a href="{% url 'contributors:contributor_list' %}" class="h5">Read the contributor list</a>
        </div>
</div>
{% endblock content %}