{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top mb-5 py-0">
    <a class="navbar-brand font-weight-bold" href="/">NESCODE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link h5 text-primary" href="{% url 'contributors:create_contributor' %}">Join us to contribute
                </a>
            </li>
        </ul>
    </div>
</nav>