.btn-primary {
    background: #e1e6e2!important;
}

.pagination .page-item.active .page-link page-item{
    background: #e1e6e2!important;
}


body, h3{
    font-family: 'EB Garamond', serif;
    }

body { padding-top: 80px; }

.btn {
       border-radius:10px;
       }